[submodule "vendors/tinyvk"]
	path = vendors/tinyvk
	url = https://github.com/Rounak-Paul/tinyvk.git
[submodule "vendors/openal-soft"]
	path = vendors/openal-soft
	url = https://github.com/Rounak-Paul/openal-soft.git
